@import "../../utils/colors.scss";
@import "../../utils/fonts.scss";
@import "../../utils/motion.scss";
@import "../../utils/base.scss";

$bg: #23263e;
$divider: #434567;
$bg-hover: #2e3249;
$bg-active: #393f59;

.sidebar {
	height: 100vh;
	width: 220px;
	background: $bg;
	// position: fixed;
	// left: 0;
	// top: 0;
	color: $D80;
	@include FontMedium;

	.logo {
		padding: 0 24px;
		height: 108px;
		display: flex;
		align-items: center;
	}
}

.section {
	&:last-child:after {
		display: none;
	}
	&:after {
		content: "";
		margin: 0 24px;
		height: 36px;
		position: relative;
		display: block;
		box-shadow: inset 0 -17px 0 0 $bg, inset 0 -18px 0 0 $divider;
	}

	& h5 {
		font-size: 12px;
		font-weight: 500;

		color: $D40;
		height: 36px;
		display: flex;
		align-items: center;
		margin: 0;
		padding: 0 24px;
	}

	& ul {
		list-style: none;
		padding: 0;
		margin: 0;

		& li {
			display: flex;
			// align-items: center;

			& button {
				@include FontMedium;
				height: 36px;
				padding: 0 24px;
				width: 100%;
				font-size: 14px;
				background: none;
				text-align: left;
				color: $D80;
				border: none;
				&:hover {
					background: $bg-hover;
					outline: none;
					cursor: pointer;
				}
				&:focus {
					background: $bg-hover;
					outline: none;
				}
				&.active {
					outline: none;
					color: $B10;
					background: $bg-active;
				}
			}
		}
	}
}
